/* Navbar */
.navbar {
	position: relative;
	z-index: 1;
}

.navbar-brand {
	font-family: Viga;
	font-size: 32px;
}

/* Jumbotron */
.jumbotron {
	background-image: url(../img/jumbotron-bg1.jpg);
	background-size: cover;
	height: 540px;
	text-align: center;
	position: relative;
}

.jumbotron .container {
	position: relative;
	z-index: 1;
}

.jumbotron::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
	position: absolute;
	bottom: 0;
}

.jumbotron .display-4 {
	color: white;
	margin-top: 150px;
	font-weight: 200;
	font-size: 40px;
	margin-bottom: 30px;
}

.jumbotron .display-4 span {
	font-weight: 500;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}

/* Book */

#wrapper a:hover .box img,
#wrapper a:focus .box img {
	opacity: 0.8;
	outline: #fff solid 2px;
	outline-offset: -15px;
}
#wrapper h1,
.effect {
	-webkit-transition: all 0.7s ease;
	-moz-transition: all 0.7s ease;
	-o-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.box {
	width: 600px;
	position: relative;
	background: rgb(155, 155, 155);
}
#wrapper {
	width: 600px;
	margin: auto;
	padding: 10px;
}
.box img {
	width: 600px;
	outline: transparent solid 2px;
	outline-offset: 0px;
}
.box h1 {
	font-size: 18px;
	position: absolute;
	color: #fff;
	text-transform: uppercase;
	position: absolute;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
	opacity: 0;
}
#wrapper a:hover .box h1,
#wrapper a:focus .box h1 {
	opacity: 1;
}

footer {
	height: 440px;
	background-color: #1f1f1f;
}

footer p {
	color: white;
	font-size: 12px;
}

/* Utility */
.tombol {
	text-transform: uppercase;
	border-radius: 40px;
}

/* Desktop Versi */
@media (min-width: 992px) {
	.navbar-brand,
	.nav-link {
		color: white !important;
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	}

	.nav-link {
		text-transform: uppercase;
		margin-right: 30px;
	}

	.nav-link:hover::after {
		content: "";
		display: block;
		border-bottom: 3px solid #1cc88a;
		width: 50%;
		margin: auto;
		padding-bottom: 5px;
		margin-bottom: -8px;
	}

	.jumbotron {
		margin-top: -75px;
		height: 640px;
	}

	.jumbotron .display-4 {
		color: white;
		font-size: 62px;
	}

	.quote {
		height: 440px;
	}
}

/* #1cc88a */
